
.load {
    position:fixed;
    visibility: hidden;
    width: 100%;
    height:100%;
    background-color: #fff;
    z-index: 100;
    animation:visibility 2300ms;
    animation-fill-mode: backwards;
    &::after {
        box-sizing: border-box;
        z-index: 200;
        content:'';
        position:absolute;
        top: calc(50% - 60px);
        left: calc(50% - 60px);
        width: 0px;
        height: 0px;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        border-top: 16px solid $primary-color;
        border-right: 16px solid $secondary-color;
        border-bottom: 16px solid $tertiary-color;
        border-left: 16px solid $grey-clar;
        animation:loading 1500ms 700ms ease-in-out;
    }
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes visibility {
    from {
        visibility: visible;
    }
    to {
        visibility: visible;
    }
}
.menu__items {  
    @for $i from 1 through 10 {
        &--#{$i} {
            opacity: 0;
            animation:appear 1s forwards;
            animation-delay: 350ms * $i;
        }
    }
    > .menu__items__check {
        animation:uncheck 400ms forwards ease-in-out;
        transform-origin: right;
    }
    &:hover > .menu__items__check { 
        animation:check 400ms both ease-in-out;
        transform-origin: right;
        .fa-check-circle {
            animation:rotateCheck 400ms 100ms;
        }
    }
}
@keyframes appear {
    0% {
        transform:translateY(30%);
    }
    100% {
        transform:translateY(0%);
        opacity: 1;
    }
}
@keyframes check {
    0% {
        width:0%; 
    }
    25% {
        visibility: hidden; 
    }
    100% {
        visibility: visible;
        width:15%;
    }
}
@keyframes uncheck {
    0% {
        visibility: visible;
        width:15%;    
    }
    70% {
        visibility: hidden; 
    }
    100% {
        width:0%; 
    }
}
@keyframes rotateCheck {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg)
    }
}