@mixin button {
    border-radius:25px;
    border:none;
    cursor: pointer;
    color:#fff;
    background-image: linear-gradient($secondary-color, $primary-color);
    box-shadow: $btn-box-shadow;
}
@mixin backgroundimage {
    height: 175px;
    background-size: cover;
    background-position: center;
}
@mixin backgroundImageMenu {
    height: 280px;
    background-size: cover;
    background-position: center;
    display: flex;
}
@mixin hoverHeartSol {
    opacity:1;  
    transition: opacity 1300ms;
    cursor: pointer;
}
@mixin hoverHeartReg {
    background-image: linear-gradient($primary-color, $secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}