@mixin button {
    padding:15px 20px;
    border-radius:20px;
    border:none;
    color:$white;
    background-image: linear-gradient($secondary-color, $primary-color);
    box-shadow: 0px 5px 6px $grey;;
}