footer {
    background-color: $dark-grey;
    color:#fff;
    padding:30px 20px;
}
h4 {
    margin:0 0 20px 0;
}
.list-1 {
    .fas {
        margin: 0 10px 0 0;
        font-size: 14px;
    }
}
.list-2 {
    font-family: $regular-font;
}