footer {
    background-color: $dark-grey;
    color:#fff;
    padding:30px 20px;
}
h4 {
    margin:0 0 20px 0;
}
.bottom-links {
    line-height:27px;
    &__list-1 {
        font-family: 'robotomedium', sans-serif;
        .fas {
            margin: 0 10px 0 0;
            font-size: 14px;
        }
    }
    &__list-2 {
        font-family: $regular-font;
    }
    &__list-1 li a,
    &__list-2 li a {
        color:#fff;
    }
}