section {
    padding:20px 20px 1px;
    background-color: $grey-clar;
}
.section-entrees {
    padding:0px 20px 1px;
}
.menu-intro {
    font-family: "robotolight";
    font-size: 18px;
    padding: 0 0 10px 0;
    margin:0 0 20px 0;
    position: relative;
    &:before {
        content :"";
        position:absolute;
        bottom:0;
        width:40px;
        border-bottom: 3px solid $tertiary-color;
    }   
}
.menu a {
    margin:0 0 15px 0;
}
.menu__items {
    display: flex;
    margin: 0 0 15px 0;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: $basic-box-shadow;
    cursor: pointer;
    &__txt {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: auto;
        padding: 15px 0 15px 10px;
        &__title {
            font-size:17px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__sub-title {
            font-family: $light-font;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__price {
        align-self: flex-end;
        padding: 15px 10px 15px 0;
    }
    &__check {
        background-color: $tertiary-color;
        border-radius: 0 15px 15px 0;
        font-size: 20px;
        color: #fff;
        width: 0;
        visibility: hidden;
        display: flex;
        justify-content: center;
        overflow: hidden;
        .fa-check-circle {
            align-self:center;
        }
    }
}
.btn-commander {
    background-color: $grey-clar;
    text-align: center;
    padding: 40px 0;
}